body {
  background-color: #c4b5e5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(142, 114, 151);
  border-width: 7px;
  width: 5%;
}
h1 {
  color: rgb(208, 97, 223);
}
h3 {
  color: rgb(208, 97, 223);
}
